/* ----------------------------------------------------------------
# PopUp Variables
-----------------------------------------------------------------*/

/* Fonts */
#popup {
  --popup-default-font: "Arial", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue";
  --popup-heading-font: "Georgia", serif, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  --popup-button-font: "Arial Black", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue";
  --popup-close-button-font: "Open Sans", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue";
}

/* Font Sizes */
#popup {
  --popup-default-font-size: 2.2em;
  --popup-heading-font-size: 2.5em;
  --popup-button-font-size: 1.6em;
  --popup-close-button-font-size: 1.6em;
}

/* Colors */
#popup {
  --popup-bg-color: #ffffff;
  --popup-bg-icon-color: #071c2e;
  --popup-font-default-color: #1a1a1a;
  --popup-heading-font-color: #1a1a1a;
  --popup-button-color: #14599d;
  --popup-hr-color: #14599d;
  --popup-button-font-color: #ffffff;
  --popup-button-border-color: #071c2e;
  --popup-button-hover-color: #071C2E;
  --popup-button-hover-font-color: #ffffff;
  --popup-button-clic-color: #1A1A1A;
  --popup-button-clic-font-color: #ffffff;
  --popup-button-close-color: #071C2E;
  --popup-button-close-hover-color: #1A1A1A;
}

/* Modal Sizes */
#popup {
  --popup-max-width: 600px;
  --popup-min-width: 300px;
  --popup-max-height: 400px;
  --popup-min-height: 200px;
}

/* Modal Position */
#popup {
  --popup-default-top: 50%;
  --popup-default-left: 50%;
  --popup-default-transform: translate(-50%, -50%);
}

/* Modal Transition */
#popup {
  --popup-default-transition: all 0.5s ease;
}

/* Modal Animation */
#popup {
  --popup-default-animation: none;
}

/* Modal background Opacity */
#popup {
  --popup-default-opacity: hsl(210, 8%,25%);
}

/* Modal Radius */
#popup {
  --popup-default-border-radius: 20px;
}

/* Modal Radius button */
#popup {
  --popup-button-border-radius: ;
}

/* Modal Shadow */
#popup {
  --popup-default-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#popup {
  font-size: 62.5%;
}

/* ----------------------------------------------------------------
# PopUp Styles
-----------------------------------------------------------------*/
.popup-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--popup-default-opacity);
  z-index: 1000;
  overflow: auto;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.popup-body {
  position: absolute;
  left: var(--popup-default-left);
  top: var(--popup-default-top);
  transform: var(--popup-default-transform);
  background-color: var(--popup-bg-color);
  max-width: var(--popup-max-width);
  min-width: var(--popup-min-width);
  width: 100%;
  max-height: var(--popup-max-height);
  min-height: var(--popup-min-height);
  height: 100%;
  z-index: 1100; 
  display: block;
}

.popup-body > div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
}

.popup-row {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-image {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.popup-img-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  width: 50%;
}

.popup-image img {
  height: 85%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.popup-img-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--popup-bg-icon-color);
  height: 15%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-img-banner img {
  height: 60%;
}

.popup-text {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
}

.popup-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.popup-text hr:first-child {
  width: 80%;
  height: 2px;
  background-color: var(--popup-hr-color);
  border: none;

}

#popup-text-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#popup-text-price hr {
  width: 60%;
  height: 2px;
  background-color: var(--popup-hr-color);
  border: none;

}

.popup-text-container h3 {
  margin: 0.5rem;
  font-family: var(--popup-default-font);
  font-size: var(--popup-default-font-size);
  font-weight: normal;
  color: var(--popup-font-default-color);
  box-sizing: border-box;
  width: 80%;
  text-align: center;
}

.popup-text-container h2 {
  margin: 0.5rem;
  font-family: var(--popup-heading-font);
  font-size: var(--popup-heading-font-size);
  font-weight: bold;
  color: var(--popup-heading-font-color);
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.popup-button {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--popup-button-color);
  color: var(--popup-button-font-color);
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--popup-button-border-color);
  border-radius: 10px;
  font-size: var(--popup-button-font-size);
  font-weight: 900;
  font-family: var(--popup-close-button-font);
  min-width: 137px;
  transition: color 0.3s ease-in-out;
}

.popup-button:hover {
  background-color: var(--popup-button-hover-color);
}

.popup-button:active {
  background-color: var(--popup-button-clic-color);
}

.popup-exit-btn {
  background-color: var(--popup-button-close-color);
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem 1.5rem 0 0;
  padding: 0;
  color: var(--popup-button-close-color);
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 100;
  box-shadow: var(--popup-default-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--popup-close-button-font-size);
  color: var(--popup-button-font-color);
  font-weight: bold;
  font-family: var(--popup-close-button-font);
  transition: color 0.3s ease-in-out;
}

.popup-exit-btn:hover {
  background-color: var(--popup-button-close-hover-color);
  transform: scale(1.02);
}

/* Breakpoint for resolution less than 640px */
@media screen and (max-width: 640px) {
  .popup-body {
    max-width: 90%; /* Ajuste el ancho máximo según su preferencia */
  }

  #popup-text-price hr {
    width: 100%;
    
   
  }

  #popup-text-price hr {
    width:30%;
  }
}

/* Breakpoint for resolution less than 480px */
@media screen and (max-width: 480px) {
  .popup-body {
    max-width: 50%;
    max-height: 50%;
  }

  #popup-text-price hr {
    width: 100%;
  }

  .popup-text-container h2 {
    margin: 0.1rem;
    font-size: 1.5em;
  }

  .popup-text-container h3 {
    margin: 0.1rem;
    font-size: 1.2em;
  }

  .popup-img-banner img {
    height: 50%;
  }

  .popup-text hr:first-child {
    width: 80%;
  }

  .exit-btn span {
    font-size: 1.2em;
  }

  .popup-exit-btn {
    margin: 0.4rem 0.6rem 0 0;
    width: 20px;
    height: 20px;
  }

  .popup-button {
    margin: 0.2rem;
    padding: 0.3rem;
    font-size: 10px;
    min-width: 100px;
  }
}
